
PFAS Rainbow trout PBK/PINN/.DS_Store
PFOA inhalation Rat/.DS_Store
PFOA inhalation Rat/R_examples/.DS_Store
PFOA inhalation Rat/R_examples/.Rhistory
Loccisano et al.2011/.DS_Store
PFAS Rainbow trout PBK/.DS_Store
PFAS Rainbow trout PBK/PINN/.DS_Store
PFAS Rainbow trout PBK/PINN/DeepXDE_implementation/.DS_Store
PFAS Rainbow trout PBK/PINN/DeepXDE_implementation/Hyperparameters_tuning/.DS_Store
PFAS Rainbow trout PBK/PINN/DeepXDE_implementation/Hyperparameters_tuning/Loss_weights_tuning/.DS_Store
PFOA inhalation Rat/.DS_Store
.DS_Store
